<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c65b07af-6439-424a-a796-9ec5e7a07015/resourceGroups/DM106/providers/Microsoft.Web/sites/dm106finalproject</ResourceId>
    <ResourceGroup>DM106</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dm106finalproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dm106finalproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dm106finalproject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dm106finalproject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="dm106_final_project.Models.ApplicationDbContext, dm106-final-project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dm106_final_projectContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="dm106_final_project.Models.dm106_final_projectContext, dm106-final-project" MigrationConfiguration="dm106_final_project.Migrations.Configuration, dm106-final-project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dm106_final_projectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="dm106_final_projectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="dm106_final_projectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="dm106_final_projectContext-Web.config Connection String">
      <ParameterValue>data source=tcp:dm106finalproject.database.windows.net,1433;initial catalog=dm106finalproject;user id=dm106;password=106Dm@106;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm106finalproject.database.windows.net,1433;Initial Catalog=dm106finalproject;User ID=dm106;Password=106Dm@106</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>